body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(49, 49, 49, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:542px;
}
#u2 {
  position:absolute;
  left:475px;
  top:97px;
  width:1023px;
  height:542px;
}
#u3 {
  position:absolute;
  left:2px;
  top:263px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u4 {
  position:absolute;
  left:810px;
  top:864px;
  width:352px;
  height:136px;
  font-size:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:348px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:60px;
}
#u7 {
  position:absolute;
  left:737px;
  top:680px;
  width:498px;
  height:136px;
  font-size:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:60px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:60px;
  text-align:center;
}
#u9 {
  position:absolute;
  left:883px;
  top:678px;
  width:352px;
  height:138px;
  font-size:60px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11 {
  position:absolute;
  left:751px;
  top:689px;
  width:120px;
  height:120px;
}
#u12 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
